<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests">
    <test verbose="2" preserve-order="true" name="Test1">
        <parameter name="wealth" value="1500000.0">
        </parameter>
        <groups>
            <run>
                <exclude name="CanExclude"/>
            </run>
        </groups>
        <classes>
            <class name="task4.BoyTest"/>
        </classes>
    </test>
    <test name="Test2">
        <classes>
            <class name="task4.GirlTest"/>
        </classes>
    </test>
</suite>
